body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Ensure the full height is used */
}

.container {
    display: flex;
    height: 100%; /* Ensure the full height is used */
}

.calendar-column {
    flex: none; /* Do not grow or shrink */
    width: 30%; /* Starting width of the calendar column */
    overflow: auto;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    resize: horizontal; /* Allow resizing */
    max-width: 100%; /* Prevent it from resizing beyond the container width */
}

.journal-column {
    flex-grow: 1; /* Take up the remaining space */
    overflow: auto;
}

#markdown-editor-container {
    width: 100%;
    height: 100%;
}
.resizer {
    width: 5px;
    cursor: ew-resize;
    background-color: #ccc;
}

.highlight {
    background-color: #ff0; /* Change this to the color you want */
}

/* Add this at the end of your file */
.fc-event {
    background-color: red; /* Change this to the color you want */
    border: none;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0; /* Soft gray, can be changed to match your color scheme */
  color: #333; /* Dark gray for text */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase; /* Optional style */
  border-radius: 4px; /* Slightly rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e0e0e0; /* Slightly darker shade on hover */
}

button:active {
  background-color: #d0d0d0; /* Even darker shade when clicked */
}
.hidden {
    display: none;
}
.CodeMirror {
	height: 300px  !important;
}

#entries-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}