body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%; /* Ensure the full height is used */
}

.container {
    display: flex;
}

.calendar-column {
    flex: none; /* Do not grow or shrink */
    width: 40%; /* Starting width of the calendar column */
    overflow: auto;
    border-right: 2px solid #ddd;
    resize: horizontal; /* Allow resizing */
    max-width: 100%; /* Prevent it from resizing beyond the container width */
}

.journal-column {
    flex-grow: 1; /* Take up the remaining space */
    overflow: auto;
}
#markdown-editor-container {
    width: 100%;
}
.resizer {
    width: 5px;
    cursor: ew-resize;
    background-color: #ccc;
}

.highlight {
    background-color: #ff0; /* Change this to the color you want */
}

/* Add this at the end of your file */
.fc-event {
    background-color: red; /* Change this to the color you want */
    border: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #45a049;
}